.modal {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 100%;
	width: 100%;
	height: calc( 100vh - #{$header_height} );
	background-color: #000;
	color: #fff;
	overflow: auto;
	transition: all .25s ease-in-out;
	z-index: 9999;
	-webkit-overflow-scrolling: touch;

	&.open {
		visibility: visible;
		top: $header_height;
	}

	iframe {
		max-width: 100%;
	}

	.embed-video-holder iframe,
	.link-iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

	.modal-close-button {
		position: fixed;
		left: 5%;
		bottom: 1rem;
		width: 90%;
		padding: 1rem;
	}

	@media screen and ( max-width: 375px ) {

		.modal-close-button {
			display: none;
		}

	}

}

// Overlay
.modal-overlay {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75 );
	z-index: 9;

	&.open {
		display: block;
	}

}

@supports ( backdrop-filter: blur(10px) ) {

	.modal-overlay {
		background-color: transparent;
		backdrop-filter: blur(10px);
	}

}

// Hotspot modals on medium to large displays
@media screen and ( min-width: 780px ) and ( min-height: 500px ) {

	.modal.hotspot-modal {
		left: 50%;
		width: 60%;
		max-height: 80%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 4px 1px rgba( 0, 0, 0, .15 );
		z-index: 99999;

		&.open {
			top: 50%;
			height: auto;
		}

		.modal-close-button {
			display: none;
		}

	}

}
